* {
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
}

.section-icon{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: rgba(224, 224, 224, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content{
    padding: 50px 120px;
    max-width: 1600px;
}


/* header */

header{
    max-width: 1600px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 120px;
    max-width: 1600px;
}

.head-content--image{
    display: flex;
}

.head-content--nav ul{
    display: flex;
    list-style-type: none;
}

.head-content--nav li{
    padding: 15px 15px;
}

.head-content--nav li:nth-last-child(1){
    padding: 0;
    transform: translate(2%, 2%);
}

.head-content--nav li:hover{
    background-color: black;
    color: white;
}

h1{
    font-size: 60px;
}

/* section1 */

.section1{
    background-image: url('images/img-1.jpg');
    background-position: center;
    background-size: cover;
    height: 700px;
    max-width: 1600px;
    
}

.section1-content-area{
    color: white;
    text-align: center;
    height: 100%;
    background-color: rgba(10, 12, 43, 0.82);
}

.section1-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 0 250px;
}

.section1-content--buttons{
    padding-top: 130px;
}

.section1-button{
    display: inline-block;
    padding: 12px 40px;
    border-radius: 20px;
    color: white;
    border-color: white;
}

.section1-button--contact{
    background-color: #d0a904;
    border-style: hidden;
}

.section1-button--discover{
    background-color: rgba(185, 185, 8, 0);
}

.section1-down-arrow{
    padding-top: 70px;
    transform: translate(-1%, 30%);
}

.section1-down-arrow--image{
    height: 15px;
    width: 20px;
}



/* section2 */

/* .section2-content{
    display: inline-block;
} */

.section2-content-area{
    display: flex;
}

.section2-text-part{
    /* float: left; */
    padding-right: 20px;
    width: 40%;
    min-width: 400px;
}

.section2-text-part--with-image{
    padding: 15px;
}

.section2-text-part--image{
    transform: translate(-30%, 30%);
}

.section2-image{
    width: 60%;
    object-fit: contain;
}

/* section3 */
.section3{
    background-image: url('images/img-2.jpg');
    background-position: center;
    background-size: 125%;
    height: 650px;
    max-width: 1600px;
}

.section3-content-area{
    color: white;
    text-align: center;
    height: 100%;
    background-color: rgba(10, 12, 43, 0.82);
    padding: 100px 120px;
}

.section3-columns{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 300px;
}

.section3-columns-wrapper{
    display: flex;
    justify-content: space-between;
}

.section3-button{
    padding-top: 50px;
}

.section3-order-buttton{
    background-color: #d0a904;
    padding: 12px 30px;
    border-radius: 20px;
    color: white;
}

/* section4 */

/* .section4{
     
} */
.section4-nav{
    padding-top: 40px;
}

.section4-nav li{
    display: inline-block;
    padding: 1.5%;
}

.section4-nav li:hover{
    background: #d4d4d4;
}

.section4-gallery{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* column-gap: 20px; */
}

.section4-gallery-image--skateboard{
    height: 600px;
    width: 420px;
    padding: 10px 0;
}

.section4-gallery-image--book{
    height: 300px;
    width: 420px;
    padding: 10px 0;
}

.section4-gallery--column{
    width: 440px;
    /* padding-right: 40px; */
}
.section4-gallery--column:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.section4-gallery--column:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section4-gallery--column:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}


/* section5 */
.section5{
    background-image: url('images/img-4.jpg');
    background-position: center;
    background-size: 100%;
    height: 400px;
    max-width: 1600px;
}

.section5-content-area{
    color: white;
    text-align: center;
    height: 100%;
    background-color: rgba(10, 12, 43, 0.82);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section5-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* section6 */
.section6{
    text-align: center;
    background: rgba(224, 224, 224, 0.616);
    max-width: 1600px;
}

.section6-description{
    padding-top: 30px;
}

.section6-card{
    border-style: ridge;
    border-width: 1px;
    height: 400px;
    width: 420px;
    padding: 30px;
    background-color: white;
    position: relative;
    /* min-width: 400px; */
    
}


.section6-card--middle-section{
    padding-top: 40px;
}

.section6-content--cards{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding-top: 50px;
}

.section6-card--button{
    padding: 12px 30px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    bottom: 40px;
    right: 210px;
    transform: translate(50%, 50%);
}

.section6-card-regular--button{
    background-color: #d0a904;
    color: white;
    border-style: none;
}

/* section7 */
.section7{
    background-image: url('images/img-3.jpg');
    background-position: center;
    background-size: 100%;
    height: 500px;
    max-width: 1600px;
}

.section7-content-area{
    color: white;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 12, 43, 0.82);
}

.section7-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section7-lrbutton-nav--button{
    height: 60px;
    width: 60px;
}

.section7-lrbutton-nav--left{
    background-color: rgba(10, 12, 43);
    color: white;
    border-style: none;
}

.section7-lrbutton-nav--right{
    background-color: #d0a904;
    color: white;
    border-style: none;
}

.section7-body-names--image{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.section7-body-names--left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.section7-body-names--right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    /* text-align: center; */
}

.section7-body-names{
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: stretch;
}


/* section8 */
.section8{
    background: rgba(224, 224, 224, 0.616);
    max-width: 1600px;
}

.section8-description{
    padding: 50px 0;
}

.section8-card-image{
    width: 100%;
}

.section8-card-container{
    display: flex;
    column-gap: 15px;
    max-width: 1600px;
}

.section8-card{
    width: 430px;
    height: 560px;
    background-color: white;
    position: relative;
    /* min-width: 400px; */
}

.section8-card-text{
    padding: 40px;
}
.section8-card-text p{
    padding-top: 15px;
}

.section8-card-button{
    position: absolute;
    bottom: 40px;
    transform: translate(50%, 50%);
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: white;
}

.section8-card-button--center{
    background-color: #d0a904;
    color: white;
}

/* footer */
footer{
    background-color: #3a376c;
    height: 400px;
    color: white;
    padding: 0 120px;
    max-width: 1600px;
}

.footer-logo-image{
    width: 160px;
}

.footer-columns{
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}

.footer-columns--content h2{
    padding-bottom: 20px;
}

.footer-image{
    width: 200px;
    height: 50px;
    background: none;
}